// Primary Colors
$color-primary: #68a1aa;
$color-secondary: #6f8585;
$color-tertiary: #d8b082;
$color-highlight-1: #676d6a;
$color-hightlight-2: #848a88;


// Black, White and Greys
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;